@import "tailwindcss";

@theme {
  --color-midnight: #090d16;
  --color-surfaceDark: #111827;
  --color-indigoNeon: #6366f1;
}

/* Mobile Hardware Navigation Safe Area Overrides */
#app-navigation {
  padding-bottom: calc(12px + env(safe-area-inset-bottom));
}

/* Custom scrollbar hiding utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
